<div class="actions">
  <%= live_redirect "New", to: Routes.live_path(@socket, FinanceWeb.IncomeLive.New), class: "button" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Client</th>
      <th>Invoice ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="incomes" phx-update="replace">
    <%= for income <- @incomes do %>
      <tr id="<%= income.id %>">
        <td><%= income.description %></td>
        <td><%= income.amount %></td>
        <td><%= income.client.name %></td>
        <td><%= income.invoice_id %></td>
        <td>
          <%= live_redirect to: Routes.live_path(@socket, FinanceWeb.IncomeLive.Edit, income.id), class: "button is-small" do %>
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
          <% end %>
          <button class="button is-small" phx-click="delete" phx-value-id="<%= income.id %>">
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
