<%= f = form_for @changeset, "#", phx_submit: "save" %>
  <div class="field">
    <div class="control">
      <%= text_input f, :description, placeholder: "Description", autocomplete: "off", class: "input" %>
      <%= error_tag f, :description %>
    </div>
  </div>
  <div class="field has-addons">
    <p class="control">
      <span class="select">
        <%= select f, :client_id, Enum.map(@clients, &{&1.name, &1.id}) %>
      </span>
    </p>
  </div>
  <div class="field has-addons">
    <p class="control">
      <span class="select">
        <%= select f, :amount_currency, ["USD", "EUR"] %>
      </span>
    </p>
    <div class="control is-expanded">
      <%= number_input f, :amount_amount, placeholder: "Amount", autocomplete: "off", class: "input" %>
      <%= error_tag f, :amount_amount %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= date_input f, :date, placeholder: "Date", autocomplete: "off", class: "input" %>
      <%= error_tag f, :date %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= submit "Save", phx_disable_with: "Saving...", class: "button is-link" %>
    </div>
  </div>
</form>
